/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Забезпечує розтягування тіла сторінки на всю висоту вікна */
    display: flex;
    flex-direction: column; /* Встановлюємо стовпчасту розкладку */
    background: linear-gradient(to right, #183717c8, #7b1c25)
}

header, footer, nav, main, article, aside, section {
    margin: 10px;
    padding: 10px;
    flex-shrink: 0; /* Забороняємо флекс-елементам зменшувати свої розміри */
}

/* Header styles */
header {
    background-color: #f0f0f0;
    text-align: center;
    font-size: xx-large;
}

header:hover .img-container img {
    opacity: 1;
}

.img-container img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s;
}

.img-container h1 {
    background-color: black;
    position: absolute;
    padding: auto;
    margin: 0;
    top: 446px;
    left: 45%;
    color: rgb(255, 255, 255); /* Встановлюємо колір тексту */
    text-align: center; /* Центруємо текст горизонтально */
    z-index: 999; /* Забезпечуємо, що текст буде вище зображення */

}

/* Navigation styles */
nav {
    background-color: #333; /* Колір фону навігаційного меню */
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Застосовуємо flexbox */
    justify-content: space-around; /* Рівномірно розподіляє пункти по горизонталі */
    background-color: #333; /* Колір фону навігаційного меню */
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none; /* Заборона стандартного підкреслення для посилань */
    color: white; /* Колір тексту посилань */
    font-size: large;
    background-color: #333; /* Колір фону посилань */
    padding: 10px 15px; /* Запобігаємо накладенню вмісту на фон */
}

nav ul li a:hover {
    background-color: #555; /* Колір фону посилань при наведенні курсора миші */
}


/* Main styles */
main {
    display: flex;
    flex: 1; /* Займає всю доступну висоту, відступаючи від верхнього і нижнього країв */
}

article, aside {
    flex: 1;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Додаємо тінь */
}

/* Footer styles */
footer {
    background-color: #f0f0f0;
    text-align: center;
    margin-top: auto; /* Встановлюємо верхній марджин на автоматично, щоб футер був прикріплений до нижнього краю сторінки */
}
